{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ path('accueil') }}" class="nav-link active" aria-current="page">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                            </svg>
                            Tableau de bord
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('rapport_index') }}" class="nav-link text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                                <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                            </svg>
                            Mes rapports
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('medecin_index') }}" class="nav-link text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
                                <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
                            </svg>
                            Mes médecins
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('profil') }}" class="nav-link text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
                            </svg>
                            Mon profil

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li> <li class="nav-item">
                        <a class="nav-link" href="#">

                        </a>
                    </li>
                </ul>
                </ul>
            </div>
        </nav>





<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medecin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ medecin.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ medecin.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>

                <td>
                    <a href="#" >{{ medecin.tel }}</a>
                </td>
            </tr>
            <tr>
                <th>SpecialiteComplementaire</th>
                <td>{{ medecin.specialiteComplementaire }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ medecin.departement }}</td>
            </tr>
            <tr>

                <th>Rapport </th>
                {% for rapport in medecin.rapports %}
                    <td>
                        {{ (rapport.medecin) }}
                        <a class="btn btn-outline-dark" href="{{ path('rapport_show', {id: rapport.id})}}">Voir rapport</a>

                    </td>
                {% endfor %}

            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('medecin_index') }}">Retour</a>

    <a class="btn btn-outline-warning" href="{{ path('medecin_edit', {'id': medecin.id}) }}">Modifier</a>
    <br>
    <br>

    {{ include('medecin/_delete_form.html.twig') }}

</main>


        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2021 Chloé Soussan</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">AP S3</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">BTS SIO SLAM</a></li>

                </ul>
            </footer>
        </div>
{% endblock %}
